.DS_Store
Thumbs.db
desktop.ini
out
node_modules
npm-debug.log
debug.log
gltf-vscode-*.vsix

# For debugging
engines/CesiumUnminified

# Currently, VSCode insists on compiling the server to an output folder
# named "server" at the root of the client, which is our workspace root.
server/server.js*
server/installServerIntoExtension*
