.git/**
.vscode/**
.vscode-test/**
out/test/**
test/**
util/**
src/**
server/src/**
engines/Cesium/**
engines/CesiumUnminified/**
engines/*/README.md
node_modules/@cesium/**
node_modules/@zip.js/**
node_modules/babylonjs-loaders/babylonjs.loaders.js
node_modules/babylonjs-materials/**
node_modules/cesium/.husky/**
node_modules/cesium/Build/Cesium/Assets/IAU2006_XYS/IAU2006_XYS_?.json
node_modules/cesium/Build/Cesium/Assets/IAU2006_XYS/IAU2006_XYS_1[0-5].json
node_modules/cesium/Build/Cesium/Assets/IAU2006_XYS/IAU2006_XYS_1[7-9].json
node_modules/cesium/Build/Cesium/Assets/IAU2006_XYS/IAU2006_XYS_2*.json
node_modules/cesium/Build/Cesium/Assets/Textures/**
node_modules/cesium/Build/Cesium/Assets/approx*
node_modules/cesium/Build/Cesium/ThirdParty/*oog*
node_modules/cesium/Build/Cesium/Widgets/**
node_modules/cesium/Build/Cesium/Workers/*eometry*
node_modules/cesium/Build/Cesium/Workers/Transforms*
node_modules/cesium/Build/Cesium/Workers/*oog*
node_modules/cesium/Build/Cesium/index.*
node_modules/cesium/Build/CesiumUnminified/**
node_modules/cesium/Source/**
node_modules/cesium/*.md
node_modules/draco3dgltf/draco_encoder.wasm
node_modules/gltf-import-export/node_modules/**
node_modules/gltumble/node_modules/**
node_modules/pako/**
node_modules/three/build/three.js
node_modules/three/build/three.cjs
node_modules/three/build/three.min.js
node_modules/three/examples/fonts/**
node_modules/three/examples/js/**
!node_modules/three/examples/js/libs/basis/**
node_modules/three/examples/jsm/exporters/**
node_modules/three/examples/jsm/libs/**
!node_modules/three/examples/jsm/libs/ktx-parse.module.js
!node_modules/three/examples/jsm/libs/zstddec.module.js
node_modules/three/examples/jsm/loaders/ifc/**
node_modules/three/examples/jsm/loaders/lwo/**
node_modules/three/examples/jsm/loaders/FBXLoader.js
node_modules/three/examples/jsm/loaders/ColladaLoader.js
node_modules/three/examples/jsm/loaders/VRMLLoader.js
node_modules/three/examples/jsm/loaders/AssimpLoader.js
node_modules/three/src/**
node_modules/**/*.d.ts
node_modules/**/*.max.js
**/*.map
**/*.map.js
.gitignore
tsconfig.json
.eslint*
gltf-vscode-*.vsix
vsc-extension-quickstart.md
