.git/**
.vscode/**
.vscode-test/**
out/test/**
test/**
util/**
src/**
server/src/**
engines/Cesium/**
engines/CesiumUnminified/**
engines/*/README.md
node_modules/cesium/Build/Cesium/Assets/Textures/**
node_modules/cesium/Build/Cesium/Assets/approx*
node_modules/cesium/Build/Cesium/Widgets/**
node_modules/cesium/Build/Cesium/Workers/*eometry*
node_modules/cesium/Build/CesiumUnminified/**
node_modules/cesium/Source/**
node_modules/cesium/*.md
node_modules/three/examples/fonts/**
node_modules/three/examples/js/**
node_modules/three/src/**
node_modules/**/*.d.ts
node_modules/**/*.max.js
**/*.map
**/*.map.js
.gitignore
tsconfig.json
.eslint*
gltf-vscode-*.vsix
vsc-extension-quickstart.md
