#renderCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#errorContainer {
    display: none;
    position: absolute;
    top: 30%;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    color: #f42;
    background: rgba(42, 42, 42, 0.9);
    padding: 5px;
    text-align: center;
    white-space: pre-wrap;
}

#logo {
    position: absolute;
    width: 100px;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}
